.categories-container {
  margin: 0 5rem;
}

.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
  background-color: #c2d2e1;
  height: 35vh;
  box-shadow: 10px 10px 13px rgba(192, 192, 192, 1);
}

.images-container {
  display: flex;
  max-width: 90vw;
  overflow: scroll;
  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  overflow: hidden;
}

.image-slider {
  width: 350px;
  height: 250px;
  margin: 0.5rem 1.7rem;
  object-fit: cover;
  border-radius: 8px;
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  /* font: inherit; */
  cursor: pointer;
  outline: none;
  background-color: transparent;
  /* border-radius: 6px; */
  height: 50px;
  width: 30px;
  margin: 5px;
}
